body {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);
  */
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 0;
  margin: 0;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: lightpink;
  justify-content: space-between;
}
.visual {
  height: 300px;
  width: 100%;
  margin: 0.5rem 0;
  background-color: wheat;
}
.visual > img {
  width: 100%;
  height: 100%;
}
