* {
  box-sizing: border-box;
}

.title {
  background-color: #2196f3;
  color: white;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
}

.header {
  background-color: grey;
  color: white;
}

.section-title {
  padding-top: 15px;
  padding-left: 15px;
}

.footer {
  background-color: grey;
  color: white;
  padding: 15px;
}

.column {
  float: left;
  padding: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* .menu {
  width: 25%;
}

.content {
  width: 75%;
} */

.topmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #777;
  overflow: hidden;
}

.topmenu li {
  float: left;
}

.topmenu li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.topmenu li a:hover {
  background-color: #222;
}

.topmenu li a.active {
  color: white;
  background-color: #4caf50;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li a {
  margin-bottom: 4px;
  display: block;
  padding: 8px;
  background-color: #eee;
  color: #666;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #555;
  color: white;
}

.menu li a.active {
  background-color: #008cba;
  color: white;
}

.overflow-demo {
  background-color: #eee;
  height: 150px;
  overflow-x: hidden;
  overflow-y: visible;
}

/* for demo001.html */

.first-letter-is-big {
  float: left;
  width: 0.7em;
  font-size: 400%;
  font-family: algerian, "Courier New", Courier, monospace;
  line-height: 80%;
}

.first-letter-is-big-css::first-letter {
  float: left;
  width: 0.7em;
  font-size: 400%;
  font-family: algerian, "Courier New", Courier, monospace;
  line-height: 80%;
  padding-right: 10px;
}




/* *,
hometask
 */

.row::before,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.one,
.half,
.one-third,
.one-fourth,
.two-thirds 
.three-fourth {
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .one {
    width: 100%;
  }

  .half {
    width: 50%; /* 100% / 2 */
  }

  .one-third {
    width: 33.33%; /* 100% / 3 */
  }

  .one-fourth {
    width: 25%; /* 100% / 4 */
  }

.three-fourth {
    width: 75%; /* 100% / 4 * 3 */
  }

  .two-thirds {
    width: 66.66%; /* 100% / 3 * 2 */
  }