* {
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.wrapper {
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-image: url(../images/black-background.jpg);
  background-size: cover;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid darkgrey;
  padding: 0 5%;
  z-index: 1000;
  width: 100%;
  background-color: black;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: auto;
}
.menu__body {
  margin: auto;
}
.menu__icon > img {
  justify-self: flex-start;
}
.menu__contacts {
  display: flex;
  width: 35%;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 400;
  margin: auto;
}
.menu__icon > img {
  height: 120px;
}

.button {
  border: 1px solid orange;
  margin: auto;
  padding: 1rem;
}

.menu__link {
  padding: 0 20px;
}
/* Анимация начало кнопки */

/* Shutter Out Vertical */
.button {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transform: skewX(-20deg);
}
.button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(185, 134, 57);
  transform: scaleY(0);
  transform-origin: 50%;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.button:hover:before,
.button:focus:before,
.button:active:before {
  transform: scaleY(1);
}

/* Анимация меню */

.menu__link,
.underline {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: white;
  height: 1px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:before,
.underline:focus:before,
.underline:active:before {
  left: 0;
  right: 0;
}
/* Анимация конец */

.menu__email {
  padding: 0 30px;
  font-size: 1.5rem;
}
.button a,
.menu__body a,
.menu__contacts a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}
/* content */

.content {
  max-height: 80vh;
  width: 40%;
  /* padding: 0 30%; */
  text-align: center;
}
.article {
  padding: 7%;
  background-color: rgba(0, 0, 0, 0.733);
  display: flex;
  flex-direction: column;
  text-align: center;
  /* width: 60vw; */
  vertical-align: middle;
  align-items: center;
}
.img {
  height: 300px;
  width: 100%;
}
.img img {
  width: 100%;
  height: 100%;
}
/* footer */
.social__img {
  width: 25px;
  padding: 2rem 0;
  margin: 0 10px;
}

.footer {
  background-color: black;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
  font-size: 2vh;
  align-items: center;
  text-align: center;

  border-top: 0.1px solid darkgrey;
}
.align-start {
  text-align: start;
}

.footer-row,
.social,
address,
p,
.footer__logo,
img {
  background-color: transparent;
}
.footer-row a {
  padding-bottom: 1vh;
}

.footer__logo img {
  height: 20%;
  width: 20%;
  margin: auto;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.footer__social a :hover,
.social a:hover {
  opacity: 0.7;
}

form {
  background-color: black;
}

/* MEDIA */

@media (max-width: 1360px) {
  .menu__contacts {
    font-size: 15px;
  }
  .menu__email {
    display: none;
  }
  .menu__icon > img {
    height: 90px;
  }

  .content__time,
  .content__addres {
    font-size: 1.1rem;
  }
  .button {
    padding: 0.7rem;
  }

  .menu__link {
    padding: 0 15px;
  }

  .cube {
    min-width: 100px;
    height: 500px;
  }
  .button-block {
    flex-wrap: wrap;
  }
  .content__block h2 {
    font-size: 16px;
  }
  .content img {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .menu__icon > img {
    height: 60px;
  }
  .header a {
    font-size: 1rem;
  }
  address a,
  p,
  div {
    font-size: 0.65rem;
  }
  .button a {
    font-size: 1rem;
  }

  .content__time,
  .content__addres {
    font-size: 1rem;
  }
  .cube {
    min-width: 80px;
    height: 400px;
  }
  .social__img {
    width: 20px;
  }
  .second-page__img {
    max-width: 80%;
    max-height: 80%;
  }
  .content,
  .second-page__content,
  .third_page__services {
    padding: 0 2%;
  }
  .second-page__content li {
    padding-bottom: 10px;
  }
}

@media (max-width: 880px) {
  .head-page,
  .second-page,
  .third-page,
  .fourth-page {
    height: auto;
    width: auto;
  }
  .header a {
    padding: 0 5px;
  }
  .content__time {
    display: inline;
  }
  .cube {
    min-width: 65px;
    height: 325px;
  }
  .content__time,
  .content__addres {
    font-size: 0.8rem;
  }
  .head-page__footer {
    display: none;
  }
  .content__link-marker li::before {
    font-size: 1rem;
  }
}
@media (max-width: 670px) {
  .header__menu .button {
    display: none;
  }
  .button {
    display: block;
  }
  .cube {
    min-width: 50px;
    height: 250px;
  }
  address a,
  p,
  div {
    font-size: 0.5rem;
  }
  .social__img {
    width: 15px;
  }
}

@media (max-width: 565px) {
  .cube {
    min-width: 40px;
    height: 200px;
  }
  address a,
  p,
  div {
    font-size: 0.3rem;
  }
  .second-page__img {
    display: none;
  }
  .second-page__list {
    flex-basis: 100%;
    padding: 10px 0;
    border-top: 1px solid white;
  }
  .second-page__content li {
    font-size: 0.8rem;
  }
  .second-page__content p {
    font-size: 0.8rem;
  }
  .second-page__content h2 {
    font-size: 1.3rem;
    padding: 10px 0;
  }
  .content__addres,
  .content__time {
    display: none;
  }
  .third-page__title {
    font-size: 1rem;
  }
  .third_page__services {
    height: auto;
    padding: 0 5%;
    display: grid;
    grid-template: 25% 25% 25% 25% / 50% 50%;
    grid-gap: 2%;
  }
  .third-page__button {
    padding-top: 15%;
  }
  .third_page__services-button {
    top: 80%;
    left: 10%;
  }
  .third_page__services-tittle h2 {
    font-size: 1rem;
  }

  .third-page__title h1 {
    font-size: 1.5rem;
  }
}
