* {
  box-sizing: border-box;
  color: white;
  background-color: black;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.head-page {
  height: 100vh;
  width: 100vw;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid grey;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: auto;
}
.menu__body {
  margin: auto;
}
.menu__icon > img {
  justify-self: flex-start;
}
.menu__contacts {
  display: flex;
  width: 35%;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 400;
  margin: auto;
}
.menu__icon > img {
  height: 120px;
}

.button {
  border: 1px solid orange;
  margin: auto;
  padding: 1rem;
}
.button a:hover {
  background-color: orange;
  color: black;
  text-decoration: underline;
  transition: all 5000ms ease;
}
.menu__link {
  padding: 0 20px;
}
.menu__email {
  padding: 0 30px;
}
.button a,
.menu__body a,
.menu__contacts a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  flex: 1 1 65%;
  font-size: 30px;
  font-weight: 100;
  padding: 40px 80px;
}
.right {
  flex: 1 1 35%;
}
.left h1 {
  margin: auto;
  font-weight: 100;
}
.button-block {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content__button {
  /* width: 25%; */
  font-size: 30px;
  border: 1px solid orange;
  margin: auto;
  font-weight: 100;
  padding: 1rem;
}
.content__addres {
  width: 50%;
  font-size: 20px;
  font-weight: 100;
  padding: 0 11%;
}
.content__time {
  width: 25%;
  font-size: 20px;
  font-weight: 100;
  padding: 0 5s%;
}
