* {
  box-sizing: border-box;
  color: white;
  background-color: black;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.wrapper {
  position: relative;
}
.head-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid darkgrey;
  padding: 0 5%;
  /* position: fixed; */
  /* z-index: 1000; */
  width: 100%;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: auto;
}
.menu__body {
  margin: auto;
}
.menu__icon > img {
  justify-self: flex-start;
}
.menu__contacts {
  display: flex;
  width: 35%;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 400;
  margin: auto;
}
.menu__icon > img {
  height: 120px;
}

.menu__link {
  padding: 0 20px;
}
/* Анимация начало кнопки */

.button {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transform: skewX(-20deg);
  border: 1px solid orange;
  margin: auto;
  padding: 0.7rem;
}
.button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(185, 134, 57);
  transform: scaleY(0);
  transform-origin: 50%;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.button:hover:before,
.button:focus:before,
.button:active:before {
  transform: scaleY(1);
}

/* Анимация меню */

.menu__link,
.underline {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: white;
  height: 1px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:before,
.underline:focus:before,
.underline:active:before {
  left: 0;
  right: 0;
}
/* Анимация конец */

.menu__email {
  padding: 0 30px;
  font-size: 1.5rem;
}
.button a,
.menu__body a,
.menu__contacts a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}
/* head page content */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5%;
  flex-basis: 80%;
}
.content img {
  min-height: 75%;
  min-width: 75%;
}
.reverse {
  flex-direction: row-reverse;
}
.head-page__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  font-weight: 100;
  max-height: 100%;
  flex-basis: 50%;
  max-width: 100%;
}
.head-page__right {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  max-height: 100%;
  align-items: center;
}
.head-page__left h1 {
  margin: auto;
  font-weight: 100;
  font-size: calc(16px + (48 - 16) * ((100vw - 320px) / (1800 - 320)));
  text-align: start;
}

.button-block {
  margin-top: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.content__button {
  font-size: 30px;
  border: 1px solid orange;

  font-weight: 100;
  padding: 1rem;
}
.content__addres {
  font-size: 20px;
  font-weight: 100;
  padding: 0 4%;
}
.content__time {
  font-size: 20px;
  font-weight: 100;
  padding: 0 4%;
}
/* head page footer */

.head-page__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 0.1px solid darkgrey;
  font-size: 2vh;
  padding: 0 5%;
}
.address {
  width: 65%;
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  justify-content: space-evenly;
}
.social {
  width: 35%;
  text-align: center;
}
.social__img {
  width: 25px;
  padding: 2rem 0;
  margin: 0 10px;
}

/* second page content */

.second-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.second-page__content {
  display: flex;
  padding: 0 5%;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}
.content__block h2 {
  font-size: calc(14px + (28 - 14) * ((100vw - 320px) / (1800 - 320)));
}

.second-page__list {
  font-size: 30px;
  font-weight: 100;
  flex-basis: 50%;
  width: 100%;
}
.second-page__list p,
li {
  font-size: calc(10px + (24 - 10) * ((100vw - 320px) / (1800 - 320)));
}
.second-page__list p {
  margin: 0;
  padding: 0.7rem 0;
}
.second-page__img {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.second-page__img img {
  width: 80%;
  height: 80%;
}

.content__link {
  list-style-type: none;
}
h2 {
  font-weight: 100;
  margin: 1vw;
}

.content__block {
  list-style: none;
  font-size: 1.5rem;
}
.content__block h1,
a {
  display: inline-block;
}
.content__link-marker li {
  list-style: none;
}

.content__link-marker li::before {
  content: "✔";
  padding-right: 10px;
  color: rgba(27, 228, 27, 0.7);
  font-size: 2rem;
}
.content__link-marker li {
  padding-bottom: 1rem;
}

/* third page */

.third-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.third-page__title {
  text-align: center;
  margin: auto;
}

.third-page__title h1 {
  font-size: 2.5rem;
}

.third_page__services {
  height: 80vh;
  padding: 0 5%;
  display: grid;
  grid-template: 33.33% 33.33% 33.33% / 25% 25% 45%;
  grid-gap: 2%;
  /* opacity: 0.2; */
}
.third-page__services-short {
  /* border: orange solid 1px; */
  align-items: center;
  position: relative;
  overflow: hidden;
}
.third-page__services-long {
  /* border: orange solid 1px; */
  position: relative;
  align-items: center;
  overflow: hidden;
}

.third-page__services-img {
  width: 100%;
  height: 100%;
  object-fit: unset;
  opacity: 0.2;
}

.third_page__services-tittle {
  background-color: transparent;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.third_page__services-tittle h2 {
  background-color: transparent;
  font-weight: 700;
  /* font-size: 2.2rem; */
  font-size: calc(10px + (35 - 10) * ((100vw - 320px) / (1800 - 320)));
}
.third_page__services-button {
  position: absolute;
  text-align: center;
  top: 18vh;
  left: 3vh;
  padding: calc(5px + (18 - 5) * ((100vw - 320px) / (1800 - 320)));
  transform: translate(-50%, -50%);
  font-size: calc(8px + (24 - 8) * ((100vw - 320px) / (1800 - 320)));
  transform: skewX(-20deg);
  border: 1px solid rgb(185, 134, 57);
}
.third_page__services-button a {
  color: white;
  /* font-size: 1.5rem; */
  text-decoration: none;
  font-size: calc(8px + (24 - 8) * ((100vw - 320px) / (1800 - 320)));
}
.third-page__button {
  text-align: center;
  margin: auto;
  padding-top: 2%;
}
/* Анимация услуг */
.third-page__services-img:hover {
  opacity: 0.8;
  transition: 1.5s;
  transform: scale(1.3);
  cursor: pointer;
}

.third_page__services-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(185, 134, 57);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.third_page__services-button:hover,
.third_page__services-button:focus,
.third_page__services-button:active {
  color: white;
}
.third_page__services-button:hover:before,
.third_page__services-button:focus:before,
.third_page__services-button:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);

  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Анимация услуг конец */

/* fourth page */
.fourth-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fourth-page__tittle {
  text-align: center;
  font-style: italic;

  font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (1800 - 320)));
}
.fourth-page__tittle h1 {
  font-weight: 100;
  color: #ffffff;

  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffffff,
    0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 55px #ffffff, 0 0 75px #ffffff;
}

/* bilboard */
.slider-container {
  /* position: relative; */
  /* height: 100vh; */
  /* width: 300px; */
  /* perspective: 5000px; */
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cube {
  min-width: 140px;
  height: 700px;
  transform-style: preserve-3d;
  /* backface-visibility: hidden; */
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-timing-function: ease-out;
}

.sides {
  position: absolute;
  width: 100%;
  height: 100%;
}

.left {
  background-color: rgb(219, 219, 219);
  transform: rotateY(90deg) translateZ(50px);
}

.right {
  background-color: rgb(219, 219, 219);
  transform: rotateY(270deg) translateZ(-50px);
}

.back {
  background-color: rgb(219, 219, 219);
  transform: translateZ(-50px);
}

.front {
  background-color: rgb(219, 219, 219);
  transform: translateZ(50px);
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  23% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  25% {
    transform: rotateX(0deg) rotateY(90deg);
  }

  48% {
    transform: rotateX(0deg) rotateY(90deg);
  }

  50% {
    transform: rotateX(0deg) rotateY(180deg);
  }

  73% {
    transform: rotateX(0deg) rotateY(180deg);
  }

  75% {
    transform: rotateX(0deg) rotateY(270deg);
  }
  98% {
    transform: rotateX(0deg) rotateY(270deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(360deg);
  }
}

.cube:nth-of-type(1) {
  animation-delay: 0.2s;
}
.cube:nth-of-type(2) {
  animation-delay: 0.4s;
}
.cube:nth-of-type(3) {
  animation-delay: 0.6s;
}
.cube:nth-of-type(4) {
  animation-delay: 0.8s;
}
.cube:nth-of-type(5) {
  animation-delay: 1s;
}
.cube:nth-of-type(6) {
  animation-delay: 1.2s;
}
.cube:nth-of-type(7) {
  animation-delay: 1.4s;
}
.cube:nth-of-type(8) {
  animation-delay: 1.6s;
}
.cube:nth-of-type(9) {
  animation-delay: 1.8s;
}
.cube:nth-of-type(10) {
  animation-delay: 2s;
}

.cube img {
  height: 100%;
  width: 100%;
}

.fourth-page__footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
  font-size: 2vh;
  align-items: center;
  text-align: center;
  background-color: rgba(241, 149, 10, 0.05);
  border-top: 0.1px solid darkgrey;
}
.align-start {
  text-align: start;
}

.footer-row,
.social,
address,
p,
.footer__logo,
img {
  background-color: transparent;
}
.footer-row a {
  padding-bottom: 1vh;
}

.footer__logo img {
  height: 20%;
  width: 20%;
  margin: auto;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.footer__social a :hover,
.social a:hover {
  opacity: 0.7;
}

/* MEDIA */

@media (max-width: 1360px) {
  .menu__contacts {
    font-size: 15px;
  }
  .menu__email {
    display: none;
  }
  .menu__icon > img {
    height: 90px;
  }

  .content__time,
  .content__addres {
    font-size: 1.1rem;
  }
  .button {
    padding: 0.7rem;
  }

  .menu__link {
    padding: 0 15px;
  }

  .cube {
    min-width: 100px;
    height: 500px;
  }
  .button-block {
    flex-wrap: wrap;
  }

  .content img {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .menu__icon > img {
    height: 60px;
  }
  .header a {
    font-size: 1rem;
  }
  address a,
  p,
  div {
    font-size: 0.65rem;
  }
  .button a {
    font-size: 1rem;
  }

  .content__time,
  .content__addres {
    font-size: 1rem;
  }
  .cube {
    min-width: 80px;
    height: 400px;
  }
  .social__img {
    width: 20px;
  }
  .second-page__img {
    max-width: 80%;
    max-height: 80%;
  }
  .content,
  .second-page__content,
  .third_page__services {
    padding: 0 2%;
  }
  .second-page__content li {
    padding-bottom: 10px;
  }
  .third-page__title h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 880px) {
  .head-page,
  .second-page,
  .third-page,
  .fourth-page {
    height: auto;
    width: auto;
  }
  .header a {
    padding: 0 5px;
  }
  .content__time {
    display: inline;
  }
  .cube {
    min-width: 65px;
    height: 325px;
  }
  .content__time,
  .content__addres {
    font-size: 0.8rem;
  }
  .head-page__footer {
    display: none;
  }
  .content__link-marker li::before {
    font-size: 1rem;
  }
  .third-page__title h1 {
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  .header__menu .button {
    display: none;
  }
  .button {
    display: block;
  }
  .head-page__right img {
    min-width: 100%;
  }
  .cube {
    min-width: 50px;
    height: 250px;
  }
  address a,
  p,
  div {
    font-size: 0.5rem;
  }
  .social__img {
    width: 15px;
  }
  .second-page__list {
    font-weight: 300;
  }
}

@media (max-width: 565px) {
  .head-page {
    height: 100vh;
  }
  .cube {
    min-width: 40px;
    height: 200px;
  }
  address a,
  p,
  div {
    font-size: 0.3rem;
  }
  .second-page__img {
    display: none;
  }
  .second-page__list {
    flex-basis: 100%;
    padding: 10px 0;
    border-top: 1px solid white;
  }
  .second-page__content li {
    font-size: 0.8rem;
  }
  .second-page__content p {
    font-size: 0.8rem;
  }
  .second-page__content h2 {
    font-size: 1.3rem;
    padding: 10px 0;
  }
  .content__addres,
  .content__time {
    display: none;
  }
  .third-page__title {
    font-size: 1rem;
  }
  .third_page__services {
    height: auto;
    padding: 0 5%;
    display: grid;
    grid-template: 25% 25% 25% 25% / 50% 50%;
    grid-gap: 2%;
  }
  .third-page__button {
    padding-top: 15%;
  }
  .third_page__services-button {
    top: 80%;
    left: 10%;
  }
  .third_page__services-tittle h2 {
    font-size: 1rem;
  }

  .third-page__title h1 {
    font-size: 1.5rem;
  }
  .menu__contacts {
    display: none;
  }
  .header__menu {
    width: 100%;
  }

  .content {
    flex-direction: column-reverse;
  }
  .button-block {
    justify-content: center;
  }
  .button-block {
    padding-bottom: 0.5rem;
  }
}
