* {
  box-sizing: border-box;
  color: white;
  background-color: black;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.head-page,
.second-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid darkgrey;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: auto;
}
.menu__body {
  margin: auto;
}
.menu__icon > img {
  justify-self: flex-start;
}
.menu__contacts {
  display: flex;
  width: 35%;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 400;
  margin: auto;
}
.menu__icon > img {
  height: 120px;
}

.button {
  border: 1px solid orange;
  margin: auto;
  padding: 1rem;
}
.button a:hover {
  background-color: orange;
  color: black;
  text-decoration: underline;
  transition: all 5000ms ease;
}
.menu__link {
  padding: 0 20px;
}
.menu__email {
  padding: 0 30px;
}
.button a,
.menu__body a,
.menu__contacts a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.reverse {
  flex-direction: row-reverse;
}
.left {
  flex: 1 1 40%;
  font-size: 30px;
  font-weight: 100;
  padding: 40px 80px;
}
.right {
  flex: 1 1 40%;
}
.left h1 {
  margin: auto;
  font-weight: 100;
  font-size: 3rem;
  text-align: start;
}
.left h1::after {
  content: <a href= "" >Подробнее</a>;
}

.button-block {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content__button {
  /* width: 25%; */
  font-size: 30px;
  border: 1px solid orange;
  margin: auto;
  font-weight: 100;
  padding: 1rem;
}
.content__addres {
  width: 50%;
  font-size: 20px;
  font-weight: 100;
  padding: 0 11%;
}
.content__time {
  width: 25%;
  font-size: 20px;
  font-weight: 100;
  padding: 0 5%;
}
.head-page__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 0.1px solid darkgrey;
  size: 1rem;
}
.address {
  width: 65%;
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  justify-content: space-evenly;
}
.social {
  width: 35%;
  text-align: center;
}
.social__img {
  width: 25px;
  padding: 2rem 0;
  margin: 0 10px;
}
address {
  width: 200px;
}

.content__link {
  list-style-type: none;
}
h2 {
  font-weight: 100;
}

.content__block {
  font-size: 1.5rem;
}
.content__block h1,
a {
  display: inline-block;
}
.content__link-marker li {
  list-style: none;
}

.content__link-marker li::before {
  content: "✔";
  padding-right: 10px;
  color: rgba(27, 228, 27, 0.7);
  font-size: 2rem;
}
.content__link-marker li {
  padding-bottom: 1rem;
}
